<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Nhan Vien</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1>Add Nhan Vien</h1>
    <form th:action="@{/nhanviens/add}" th:object="${NhanVien}" method="post">

        <div class="col-6 mb-3">
            <label class="form-label" for="Ma_NV">Ma Nhan Vien :</label>
            <input class="form-control" type="text" th:field="*{Ma_NV}" id="Ma_NV">
        </div>

        <div class="col-6 mb-3">
            <label class="form-label" for="Ten_NV">Ten Nhan Vien :</label>
            <input class="form-control" type="text" th:field="*{Ten_NV}" id="Ten_NV">
        </div>

        <div class="col-6 mb-3">
            <label class="form-label" for="Phai">Phai :</label>
            <!-- <input class="form-control" type="text" th:field="*{phai}" id="phai">-->
            <select class="form-control" id="Phai" th:field="*{Phai}">
                <option value="Nam">Nam</option>
                <option value="Nu">Nữ</option>
            </select>
        </div>

        <div class="col-6 mb-3">
            <label class="form-label" for="Noi_Sinh">Noi Sinh :</label>
            <input class="form-control" type="text" th:field="*{Noi_Sinh}" id="Noi_Sinh">
        </div>

        <div class="col-6 mb-3">
            <label class="form-label" for="PhongBan">Phong Ban :</label>
            <select class="form-control" id="PhongBan" name="PhongBan.Ma_Phong">
                <option value="">-- Select Category --</option>
                <option th:each="PhongBan : ${phongbans}" th:value="${PhongBan.Ma_Phong}"
                        th:text="${PhongBan.Ten_Phong}"></option>
            </select>
        </div>

        <div class="col-6 mb-3">
            <label class="form-label" for="Luong">Luong :</label>
            <input class="form-control" type="text" th:field="*{Luong}" id="Luong">
        </div>


        <input type="submit" class="btn btn-outline-success" value="save">
    </form>
    <br>
    <a th:href="@{/nhanviens}" class="btn btn-outline-info">Back to List</a>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>